* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --color-brand: #065E7C;
    --color-brand-2: #387E96;
    --color-white: #ffffff;
    --color-gray: #ffffff33;
    --color-title: #202024;
    --color-text: #121214;
}